img {
	max-width: 100%;
	max-height: 30vh;
}

li {
	display: inline;
	font-size: 3vh;
	color: white;
}


.enemy .attack{
	display: none;
}

.player .counter{
	display: none;
}

.enemy,.neutral,.player{
	background-color: black;
	
}